@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Raleway:wght@400;500;600&display=swap&family=Open+Sans');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#logo {
  font-family: 'Oleo Script', cursive;
  font-size: 47.64px;
  text-transform: capitalize;
}
