footer.footer-container 
    .footer 
        .footer__wrapper
            .grid.gap-x-7.grid-cols-1(class="md:grid-cols-4")
                .footer__info 
                    h1#logo Mairala
                    p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.
                    p eugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta 
                .footer__posts 
                    h3.footer__header Recent Posts
                    .post 
                        .post__date March 30, 2014
                        .post__title Duis autem vel eum iriure dolor
                    hr
                    .post 
                        .post__date March 30, 2014
                        .post__title Duis autem vel eum iriure dolor
                    hr
                    .post 
                        .post__date March 30, 2014
                        .post__title Duis autem vel eum iriure dolor
                    hr
                .footer__twitter 
                    h3.footer__header Twitter Feeds
                    .tweet 
                        .tweet__head 
                            span.tweet__post about 2 days ago &nbsp;
                            span.tweet__handle @kristianplatt  
                        p.tweet__text Good work buddy 
                    hr
                    .tweet 
                        .tweet__head 
                            span.tweet__post about 2 days ago &nbsp;
                            span.tweet__handle @kristianplatt  
                        p.tweet__text Good work buddy 
                    hr
                    .tweet 
                        .tweet__head 
                            span.tweet__post about 2 days ago &nbsp;
                            span.tweet__handle @kristianplatt  
                        p.tweet__text Good work buddy 
                    hr
                .footer__address 
                    h3.footer__header Our Address
                    p Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta 
                    .address__group 
                        .fa.fa-map-marker
                        span Moonshine St. 14/05 Light, Jupiter
                    .address__group 
                        .fa.fa-phone
                        span +00 (123) 456 78 90
                    .address__group 
                        .fa.fa-envelope 
                        span first.last@email.com
    .rights 
        p ©2014 Imran Khan All Rights Reserved