head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='Nicaela Cabuhat')
    meta(name='description' content='premium quality psd template for free')
    meta(name='keywords' content='psd template')

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css")
    script(src='assets/js/config.js' type='module')
    title Mairala


