.container-header
    header.header
        .container-nav 
            nav.nav 
                h1#logo Mairala
                .nav__toggle
                    input#toggle(type="checkbox" name="toggle")
                    span 
                    span
                    span
                    ul
                        li.nav__item.active
                            a(href="#") home
                        li.nav__item
                            a(href="#") about
                        li.nav__item
                            a(href="#") portfolios
                        li.nav__item
                            a(href="#") team
                        li.nav__item
                            a(href="#") blog
                        li.nav__item
                            a(href="#") contact

        .container-hero
            .wrapper 
                img(src="./assets/images/bg_01.jpg" alt="brown wall gradient")
                img(src="./assets/images/bg_02.jpg" alt="bicycle")
                img(src="./assets/images/bg_03.jpg" alt="personal items")
                img(src="./assets/images/bg_01.jpg" alt="brown wall gradient")
            .hero
                .hero-text
                    span.hero__lead grab your copy Of
                    h2.hero__title the 
                        span.hero-text--highlight premium 
                        span quality 
                        br 
                        span psd template for 
                        span.hero-text--highlight free
                button.btn.hero-cta 
                    span download 
                    span.fa.fa-download

