main.main 
    section.section.section-services
        h2.section__title services we provide 
        p.section__lead Volutpat wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent  
        .grid.gap-x-7.grid-cols-1(class="md:grid-cols-3")
            div.service
                .fa.fa-users
                h3.service__title consultancy 
                p.service__lead Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam 
            div.service
                .fa.fa-bullhorn
                h3.service__title marketing 
                p.service__lead Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam 
            div.service
                .fa.fa-flask
                h3.service__title research 
                p.service__lead Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam 

    section.section.section-blog 
        h2.section__title our blog 
        p.section__lead  Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim 
        article.blogpost 
            .grid.gap-x-7.grid-cols-1(class="md:grid-cols-2")
                img(src="./assets/images/blog.jpg" alt="camera")
                .blogpost-text
                    span.blogpost__date 10 April 2014
                    h3.blogpost__title Typi non habent claritatem insitam
                    p.blogpost__content Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla  facilisis at vero eros et accumsan et iusto odio dignissim qui [...]
        article.blogpost 
            .grid.gap-x-7.grid-cols-1(class="md:grid-cols-2")
                .blogpost-text
                    span.blogpost__date 20 March 2014
                    h3.blogpost__title Typi non habent claritatem insitam
                    p.blogpost__content Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla  facilisis at vero eros et accumsan et iusto odio dignissim qui [...]
                img(src="./assets/images/blog.jpg" alt="camera")
        article.blogpost 
            .grid.gap-x-7.grid-cols-1(class="md:grid-cols-2")
                img(src="./assets/images/blog.jpg" alt="camera")
                .blogpost-text
                    span.blogpost__date 10 January 2014
                    h3.blogpost__title Typi non habent claritatem insitam
                    p.blogpost__content Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla  facilisis at vero eros et accumsan et iusto odio dignissim qui [...]

    section.section.section-contact 
        h2.section__title contact  
        form.form
            .grid.gap-x-7.grid-cols-1(class="md:cols-2")
                .form__group
                    input(type="text" name="name")
                    label(for="name") Name*
                .form__group
                    input(type="email" name="email")
                    label(for="email") Email*
            textarea#message(name="" placeholder="Message...")
            input(type='submit').btn.btn--form
